@{
    ViewBag.Title = "MyIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MyIndex</h2>

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>MyIndex</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
